<div class="max-w-6xl flex flex-col my-8 mx-auto">

  <h1 class="text-3xl text-center font-medium">Account</h1>

  <div class="max-w-6xl mx-auto px-4">
    <div class="grid grid-cols-2">
      <div class="items-center px-2 mt-2 w-1/2">
        <h6 class="font-medium">Account details</h6>
        {{ customer.default_address | format_address }}

        <a href="{{ routes.account_addresses_url }}" class="text-gray-500 bg-gray-100 px-2 py-1 rounded text-xs">View addresses
          <span class="bg-green-700 text-white px-1 rounded">{{ customer.addresses_count }}</span>
        </a>
      </div>

      <div class="px-2 max-w-full mt-2">
        {% if customer.orders.size > 0 %}

          <table class="table-auto border-collapse border border-slate-800">
            <thead>
              <tr>
                <th class="border border-slate-600 px-2">Order #</th>
                <th class="border border-slate-600 px-2">Fullfilment Status</th>
                <th class="border border-slate-600 px-2">Payment Status</th>
                <th class="border border-slate-600 px-2">Order Date</th>
                <th class="border border-slate-600 px-2">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td class="border border-slate-600 px-2">
                    <a href="{{ order.customer_url }}" class="underline">{{ order.name }}</a>
                  </td>
                  <td class="border border-slate-600 px-2">
                    <span class="bg-blue-700 text-white px-2 rounded text-sm">{{ order.fulfillment_status_label }}
                    </span>
                  </td>
                  <td class="border border-slate-600 px-2">
                    <span class="bg-green-700 text-white px-1.5 rounded text-sm">{{ order.financial_status_label }}</span>
                  </td>
                  <td class="border border-slate-600 px-2">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td class="border border-slate-600 px-2">{{ order.total_price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>