<div class="flex flex-col items-center my-8">

  <h1 class="text-3xl text-center font-medium md:my16">Account</h1>

  <div class="max-w-6xl mx-auto justify-between items-center px-4">
    <div class="grid grid-cols-2">
      <div class="px-2 mt-2">
        <h6>Account details</h6>
        {{ customer.default_address | format_address }}

        <a href="{{ routes.account_addresses_url }}" class="text-sm text-gray-500">View addresses</a>
      </div>

      <div class="px-2 w-94 mt-2">
        {% if customer.orders.size > 0 %}

          <table class="table-fixed border-collapse border border-slate-800">
            <thead>
              <tr>
                <th class="border border-slate-600">Order #</th>
                <th class="border border-slate-600">Fullfilment Status</th>
                <th class="border border-slate-600">Payment Status</th>
                <th class="border border-slate-600">Order Date</th>
                <th class="border border-slate-600">Total</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr>
                  <td class="border border-slate-600">{{ order.name }}</td>
                  <td class="border border-slate-600">{{ order.fulfillment_status_label }}</td>
                  <td class="border border-slate-600">{{ order.financial_status_label }}</td>
                  <td class="border border-slate-600">{{ order.created_at | time_tag: format: 'date' }}</td>
                  <td class="border border-slate-600">{{ order.total_price }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </div>
  </div>
</div>